.contenedor-formulario-login {
    margin: 5rem auto;
    justify-content: center;
    width: 90%;
    border-radius: 5px;
    background-color: white;
    padding: 2rem;
}

@media (min-width: 768px) {
    .contenedor-formulario-login {
        width: 80%;
    }
}

@media (min-width: 1000px) {
    .contenedor-formulario-login {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .contenedor-formulario-login {
        width: 60%;
    }
}

.contenedor-formulario-login h2 {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 3%;
}

.contenedor-formulario-login a {
    color: var(--azulClaro);
    text-decoration: none;
}

.login-formulario {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .login-formulario {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding: 0 20px;
        gap: 2rem;
    }
}

.contenido-formulario-login { /*Porque los label tienen por defecto inline-block*/
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.button-enviar{
    background-color: var(--verdeClaro);
    color: var(--blanco);
}

.button-enviar:hover {
    background-color: var(--verdeOscuro);
}

.div-parrafo{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.login-registro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}

.login-registro a {
    margin-left: 10px;
}

.login-seguinos {
    display: block;
    text-align: center;
}

.contenedor-svg {
    margin-top: 20px;
}

.contenedor-svg h4 {
    margin-bottom: 20px;
}

.div-svg {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
}
.div-svg svg{
    width: 60%;
}

